.theme {
  position: relative;


  &__btn {
    width: 90px;
    height: 25px;
    display: block;
    padding: 0;

    color: var(--btn-theme-color);
    text-align: left;
    
    background-color: inherit;
    border: none;

    cursor: pointer;
    
    position: relative;

    &::after {
      content: 'v';
      display: block;
      width: 0;
      height: 0;
      

      position: absolute;
      right: 16px;
      top: 0px;
    }
  }

  &__dropdown {
    opacity: 0;
    visibility: hidden;

    background-color: var(--background--main--color);
    color: var(--main--color);
    position: absolute;
    left: -40px;
    top: 30px;

    transition: opacity 0.3s ease, visibility 0.3s ease;

  }

  &__dropdown-item {
    padding: 15px 40px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    cursor: pointer;

    &:hover {
      background-color: var(--background-second--color);
      transition: background-color 0.3s ease;
    }
  }


}

.theme  .active {
  opacity: 1;
  visibility: visible;
}